---
import Layout from '../layouts/Layout.astro';

---

<Layout title="GoGlance settings">
    <main class="dashboard">
        <div class="settings">
            <a href="/goglance" class="settings-link" aria-label="Settings">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" class="settings-icon">
                <title>Home</title>
                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                <polyline points="9 22 9 12 15 12 15 22"></polyline>
              </svg>
            </a>
         </div>
         <Form></Form>
    </main>
</Layout>

<style>
  /* Dashboard styling */
  .dashboard {
    display: grid;
    grid-template-columns: 1fr 0.001fr 2fr;
	  column-gap: 4vw;
    grid-column-gap: 4vw;
    row-gap: 0.5vw;
    grid-row-gap: 0.5vw;
    width: 92%;
	  overflow: hidden;
  }

  /* Styles for the settings icon container */
  .settings {
    position: absolute;
    top: 1.5vw;
    right: 1.5vw;
    background-color: #1b1a1d;
    padding: 0.8vw;
    border-radius: 0.7vw;
  }
  .settings-link {
     display: block;
     transition: transform 0.2s ease;
  }
  .settings-link:hover {
      transform: scale(1.1);
  }

  /* Styles for the SVG icon */
  .settings-icon {
      width: 1.5vw;
      height: 1.5vw;
      stroke: white;
      display: block;
  }
</style>