---
// src/components/BusDeparture.astro
interface Props {
  line_name: string;
  last_stop_name: string;
  leaving_in_min: string;
}

const { line_name, last_stop_name, leaving_in_min } = Astro.props;

function getLineColor(line_name: string) { // Function now correctly takes a string
    const num = parseInt(line_name, 10);

    if (num >= 1 && num <= 8) {
      return 'rgb(240 190 50)';
    } else if (num >= 9 && num <= 19) {
      return 'rgb(30 150 65)';
    } else if (num >= 20) {
      return 'rgb(205 40 55)';
    } else {
      return 'gray';
    }
  }
  const lineColor = getLineColor(line_name);
---

<script>
  const elements = document.querySelectorAll(`.destination`);
  elements.forEach(element => {
    const textLength = element.textContent.trim().length;
    let fontSize;
    let lineHeight;

    // Adjust these thresholds and font sizes as needed for your design.
    if (textLength <= 10) {
      fontSize = '1.25vw'; // Larger size for short text
      lineHeight = '1.25vw';
    } else if (textLength <= 20) {
      fontSize = '1vw'; // Medium size
      lineHeight = '1vw';
    } else if (textLength <= 25) {
      fontSize = '0.9vw'; //Smaller font
      lineHeight = '0.9vw';
    } else {
      fontSize = '0.8vw'; // Smallest size for very long text
      lineHeight = '0.8vw';
    }
    element.style.fontSize = fontSize;
    element.style.lineHeight = lineHeight;
  });

</script>

<div class="bus-card">
  <div class="info">
    <span class="line" style={`background-color: ${lineColor};`}><p class="nmb">{line_name}</p></span>
    <p class="destination">{last_stop_name}</p>
    <p class="time">{leaving_in_min} min</p>
  </div>
</div>

<style>
  .bus-card {
    background-color: #1b1a1d;
    border-radius: 1vw;
    margin: 0.4vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex; /* Use flexbox for layout */
    align-items: space-between; /* Vertically center content */
    justify-content: center;
    font-weight: 600;
  }

  .line {
    font-size: 1.5vw;
    font-weight: bold;
    background-color: ;
    border-radius: 0.2vw;
    aspect-ratio: 2 / 1;
    width: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    clip-path: polygon(0 0, 75% 0, 100% 50%, 75% 100%, 0% 100%);
  }

  .nmb{
    line-height: 0;
    transform: translate(-25%, -50%);
  }

  .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: space-between;
      margin-top: 3vw;
      margin-bottom: 2.5vw;

  }
  .destination{
      margin-top: 0.5vw;
      margin-left: 0;
      margin-right: 0;
      line-height: 1.25vw;
      max-width: 6vw;
  }

  .time {
    font-size: 2vw;
    color: white;
    margin-bottom: 0;
    margin-top: 0;
  }
</style>