---
---

<div class="sun-time-card">
    <p style="color: #A7A7A7; margin: 0;">Východ a západ</p>
    <div class="sun-times">
        <img src= "/goglance/icons/sunrise.png" class="sun-icon" alt="sunrise icon">
        <p class="sunpos" style="color: #A7A7A7;">Východ</p>
        <div style="text-align: center; margin: 1vw 0vw 1vw 1vw"><p id="sunrise-display" class="sun-text" style="font-size: 1.8vw">-:--</p></div>
        <img src= "/goglance/icons/sunset.png" class="sun-icon" alt="sunset icon">
        <p class="sunpos" style="color: #A7A7A7;">Západ</p>
        <div style="text-align: center; margin: 1vw 0vw 1vw 1vw"><p id="sunset-display" class="sun-text" style="font-size: 1.8vw">--:--</p></div>
    </div>
</div>

<style>
    .sun-time-card{
        background-color: #1b1a1d;
        padding: 2vw;
        border-radius: 1.5vw;
        font-size: 1.3vw;
    }
    .sun-times {
        display: grid;
        grid-template-columns: 1fr 1.5fr 1.5fr;
        transform: translate(0%, 15%);
        align-items: center;
        margin-top: 1.2vw;
    }
    .sunpos {
        font-size: 1.5vw;
    }
    .sun-text{
        margin: 0;
    }
    .sun-icon {
        width: 2.5vw;
        height: auto;
        padding: 1vw 1vw 1vw 0;
    }
</style>