---
interface Props{
    weatherData: any
}
const {weatherData} = Astro.props
---

<script is:inline src="https://fastly.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>

<div class="uv-card">
    <p style="color: #A7A7A7;">UV Index</p>
    <div class="UVChart" id="UVchart">
    </div>
    <p style="color: #A7A7A7;">Vlhkost</p>
    <div class="humidityChart" id="Humiditychart">
    </div>
</div>

<script define:vars={{ uvIndexValue: weatherData.UVindex, humidityValue: weatherData.humidity }}>
    (() => {
  
      var UVChart = echarts.init(document.getElementById('UVchart'), {
        renderer: 'svg',
        useDirtyRect: false
      });
  
      var UVconfig = {
        series: [
          {
            type: 'gauge',
            // 5. Use the injected value here
            data: [{ value: uvIndexValue }], // Use the value passed via define:vars
            startAngle: 180,
            endAngle: 360, // Changed to 360 for a full semicircle
            center: ["50%", "75%"],
            radius: "120%",
            min: 0,     // Good practice to set min
            max: 12,
            progress: {
              show: true,
              width: 13,
              roundCap: true,
              itemStyle: {
                borderWidth: 0, // Usually don't need border if color is set
                //borderColor: '#FCB412', // Removed border color as it might conflict
                color: '#FCB412',
              }
            },
            axisLine: {
              roundCap: true,
              lineStyle: {
                width: 13,
                // Simplified color definition
                color: [[1, 'rgba(252, 180, 18, 0.2)']], // Use RGBA for opacity
              }
            },
            pointer: {
              show: false,
            },
            axisTick: {
              show: false
            },
            splitLine: {
              show: false,
            },
            axisLabel: {
              show: false,
            },
            detail: {
              valueAnimation: true,
              fontSize: 25,
              color: '#A7A7A7',
              offsetCenter: [0, '-15%']
            },
            data: [{value: uvIndexValue}]
          }
        ]
      };

      UVChart.setOption(UVconfig);
  
      var HumidityChart = echarts.init(document.getElementById('Humiditychart'), {
        renderer: 'svg',
        useDirtyRect: false
      });
  
      var Humidityconfig = {
        series: [
          {
            type: 'gauge',
            // 5. Use the injected value here
            data: [{ value: humidityValue }], // Use the value passed via define:vars
            startAngle: 180,
            endAngle: 360, // Changed to 360 for a full semicircle
            center: ["50%", "75%"],
            radius: "120%",
            min: 0,     // Good practice to set min
            max: 100,
            progress: {
              show: true,
              width: 13,
              roundCap: true,
              itemStyle: {
                color: '#2195f2',
              },
            },
            axisLine: {
              roundCap: true,
              lineStyle: {
                width: 13,
                // Simplified color definition
                color: [[1, 'rgba(36, 163, 255, 0.2)']], // Use RGBA for opacity
              }
            },
            pointer: {
              show: false,
            },
            axisTick: {
              show: false
            },
            splitLine: {
              show: false,
            },
            axisLabel: {
              show: false,
            },
            detail: {
              valueAnimation: true,
              fontSize: 25,
              color: '#A7A7A7',
              offsetCenter: [0, '-15%']
            },
            data: [{value: humidityValue}]
          }
        ]
      };

      HumidityChart.setOption(Humidityconfig);

    })();
  </script>

<style>
    .uv-card{
        background-color: #1b1a1d;
        padding: 0vw 2vw 0 2vw;
        margin-top: 0vw;
        border-radius: 1.5vw;
        font-size: 1.3vw;
        align-content: space-around;
        display: block;
    }
    .UVChart{
        margin-bottom: 0;
        width: 144px;
        height: 84px;
    }
    .humidityChart{
        margin-bottom: 0;
        width: 144px;
        height: 84px;
    }
</style>