---
---
<div class="uv-card">
    <p style="color: #A7A7A7;">UV Index</p>
    <div class="gauge-placeholder">
    </div>
    <p>5.50 UV</p>
</div>

<style>
    .uv-card{
        background-color: #1b1a1d;
        padding: 0 2rem 0 2rem;
        margin-top: 0rem;
        border-radius: 1.5rem;
        font-size: 1.3rem;
    }
    .gauge-placeholder{
        height: 50px; /* Example height */
        background-color: #eee; /* Light gray background */
        margin-bottom: 0.5rem;
    }

</style>