---
interface Props{
    senzorData: any
    openWeatherData: any
}
const {senzorData} = Astro.props
const {openWeatherData} = Astro.props
---

<script is:inline src="https://fastly.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>

<div class="uv-card">
  <div>
    <p style="color: #A7A7A7; margin: 0">UV Index</p>
    <div class="chart" id="UVchart">
    </div>
  </div>
  <div>
    <p style="color: #A7A7A7; margin: 0">Vlhkost</p>
    <div class="chart" id="Humiditychart">
    </div>
  </div>
</div>

<script define:vars={{ uvIndexValue: openWeatherData.UVindex, humidityValue: senzorData.humidity }}>
    (() => {
  
      var UVChart = echarts.init(document.getElementById('UVchart'), {
        renderer: 'svg',
        useDirtyRect: false
      });
  
      var UVconfig = {
        series: [
          {
            type: 'gauge',
            data: [{ value: uvIndexValue }],
            startAngle: 180,
            endAngle: 360,
            center: ["50%", "75%"],
            radius: "120%",
            min: 0,
            max: 12,
            progress: {
              show: true,
              width: 13,
              roundCap: true,
              itemStyle: {
                borderWidth: 0,
                color: '#FCB412',
              }
            },
            axisLine: {
              roundCap: true,
              lineStyle: {
                width: 13,
                color: [[1, 'rgba(252, 180, 18, 0.2)']],
              }
            },
            pointer: {
              show: false,
            },
            axisTick: {
              show: false
            },
            splitLine: {
              show: false,
            },
            axisLabel: {
              show: false,
            },
            detail: {
              valueAnimation: true,
              fontSize: 17,
              color: '#A7A7A7',
              offsetCenter: [0, '-10%']
            },
            data: [{value: uvIndexValue}]
          }
        ]
      };

      UVChart.setOption(UVconfig);
  
      var HumidityChart = echarts.init(document.getElementById('Humiditychart'), {
        renderer: 'svg',
        useDirtyRect: false
      });
  
      var Humidityconfig = {
        series: [
          {
            type: 'gauge',
            data: [{ value: humidityValue }],
            startAngle: 180,
            endAngle: 360,
            center: ["50%", "75%"],
            radius: "120%",
            min: 0,
            max: 100,
            progress: {
              show: true,
              width: 13,
              roundCap: true,
              itemStyle: {
                color: '#2195f2',
              },
            },
            axisLine: {
              roundCap: true,
              lineStyle: {
                width: 13,
                color: [[1, 'rgba(36, 163, 255, 0.2)']],
              }
            },
            pointer: {
              show: false,
            },
            axisTick: {
              show: false
            },
            splitLine: {
              show: false,
            },
            axisLabel: {
              show: false,
            },
            detail: {
              valueAnimation: true,
              fontSize: 17,
              color: '#A7A7A7',
              offsetCenter: [0, '-10%']
            },
            data: [{value: humidityValue}]
          }
        ]
      };

      HumidityChart.setOption(Humidityconfig);

    })();
  </script>

<style>
    .uv-card{
        background-color: #1b1a1d;
        padding: 2vw;
        margin-top: 0vw;
        border-radius: 1.5vw;
        font-size: 1.3vw;
        row-gap: 1vw;
        display: grid;
    }
    .chart{
        width: 8vw;
        height: 6vw;
    }
</style>