---
interface Props{
    weatherData: any
}
const {weatherData} = Astro.props
---
<hr style="border: 0.15vw solid #1b1a1d; border-radius: 5px;">
<div class="weather-card">
    <div class="extra-info">
        <p style="color: #A7A7A7;">Vlhkost</p>
        <p>{weatherData.humidity}</p>
        <p style="color: #A7A7A7;">Pocitová teplota</p>
        <p>{weatherData.feelsLike}</p>
    </div>
</div>

<style>
    .weather-card{
        background-color: #1b1a1d;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 0 2vw 0 2vw;
        margin-top: 4vw;
        border-radius: 1.5vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 1.7vw;
    }
</style>