---
---

<hr style="border: 0.15vw solid #1b1a1d; border-radius: 5px;">
<div class="weather-card">
    <div class="extra-info">
    <span style="color: #A7A7A7;">Pocitová teplota - </span>
    <span><b id="feels-like-display">--</b> °C</span>
    <p style="color: #A7A7A7; margin: 1vw 0vw">Výstrahy</p>
    <div id="chmi-alert-container" style="background-color: rgb(30 150 65); color: white;"><b id="chmi-alert-text">Název Výstrahy</b><p id="chmi-alert-details">Zde se bude nacházet popis výstrahy.</p></div>
    </div>
</div>

<style>
    .weather-card{
        background-color: #1b1a1d;
        padding: 2vw;
        margin-top: 3.9vw;
        border-radius: 1.5vw;
        justify-content: space-between;
        align-items: center;
        font-size: 1.3vw;
        width: 85%;
        }
    #chmi-alert-container{
        padding: 1.3vw 2vw 1.3vw 2vw;
        border-radius: 1vw;
        font-size: 1.2vw;
    }
    #chmi-alert-details{
        margin: 0.5vw 0vw 0vw;
    }
</style>