---
interface Props{
    weatherData: any
}
const {weatherData} = Astro.props
---

<div class="wind-card">
    <p style="color: #A7A7A7">Vývoj větru</p>
    <div class="WindChart">
    <div>
    <p>{weatherData.windSpeed} km/h</p>
</div>

<style>
    .wind-card{
        background-color: #1b1a1d;
        padding: 0 2vw 0 2vw;
        margin-top: 0vw;
        border-radius: 1.5vw;
        font-size: 1.3vw;
    }
    .WindChart{
        height: 10vw;
        margin-bottom: 0;
    }
</style>