---
---

<script is:inline src="https://fastly.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>

<div class="wind-card">
    <p style="color: #A7A7A7; margin: 0;">Vývoj větru - <b style="color:white" id="wind-speed-display">7.50</b> km/h</p>
    <div id="Windchart">
    <div>
</div>

<script define:vars={{ }}>
    (() => {
        var WindChart = echarts.init(document.getElementById('Windchart'), {
            renderer: 'svg',
            useDirtyRect: false
        });

        var Windconfig = {
            xAxis: {
                show: false,
                type: 'category',
            },
            yAxis: {
                show: false
            },
            series: [{
                itemStyle: {
                    borderRadius: 100,
                    barCategoryGap: '2',
                    color: '#00ba33',
                    barMaxWidth: 1
                },
                type: 'bar',
                data: WindValues
            }]
        };

        WindChart.setOption(Windconfig);
    })();
</script>

<style>
    .wind-card{
        background-color: #1b1a1d;
        padding: 2vw 2vw 0vw;
        margin-top: 0vw;
        border-radius: 1.5vw;
        font-size: 1.3vw;
    }
    #WindChart{
        height: 18vw;
        width: 18vw;
        margin-bottom: 0;
    }
</style>